/*
CSS by Jonas Gonzales
Date: 3/1/2025
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root{
    --black:#0d0d0d;
    --white:#F2F2F2;
    --ltblue:#7ABFBF;
    --greyblue:rgba(122, 191, 191, .5);
    --orange: #EB5428;
    --bebas: "Bebas Neue" , sans-serif;
    --Monst: "Monsterrat" , sans-serif;
}
body{
    background-color: var(--greyblue);
}
main{
    background-color: #F2F2F2;
    max-width: 414px;
    margin: auto;
    width: 100%;
    position: relative;
    top: 0px;
}
section{
    background-color: #F2F2F2;
    margin-right: auto;
    margin-left: auto;

}
h1{
    text-align: center;
    font-size: 40px;
    position: relative;
    margin-top: 30px;

}
#intro{
    padding-top: 120px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
#socials li, h1, h2, h3, nav a, nav span, menu li, dt, footer{
    font-weight: normal;
    font-family:var(--bebas);

}
#describe h2, #copyright h2, #navigation h2{
    visibility: hidden;
}
footer p{
    font-family: var(--bebas);
}
p, dd, li, nav, input, table{
    font-size: 15px;
    font-family: var(--Monst);
}
nav ul li{
    text-align: center;
}
img{
    max-width: 100%;
}
dt{
    font-weight: 650;
}
.searchbox button{
    position: relative;
    background-color: #EB5428;
    border: none;
    left: -5px;
    top: 10px;
}
.searchbox{
    display: block;
    position: relative;
    margin: auto;
    top: -3450px;
    left: 15%;
}
.searchbox input{
    width: 240px;
    border: 3px solid var(--orange);
    font-size: 15px;
}
.searchbox button svg{
    stroke: #F2F2F2;
}
menu{
    text-align: center;
    padding-bottom: 30px;
}
menu li{
    width: 25%;
    display: inline-block
}
.MenuItems span:hover, .MenuItems svg:hover{
    background-color: #EB5428;
    stroke: #F2F2F2;
    color: #F2F2F2;
}
.MenuItems svg, .MenuItems span{
    transition: background-color .5s, stroke .5s, color .5s;
}
.MenuItems span:hover, .MenuItems svg:hover{
    background-color: #EB5428;
    stroke: #F2F2F2;
    color: #F2F2F2;
}
.MenuItems span{
    display: block;
    padding: 1px;
    margin: 0;
    text-decoration: none;
}
.MenuItems a{
    color: #EB5428;
    text-decoration: none;
}
.MenuItems a {
    text-decoration: none;
    color: #EB5428;
}
.MenuItems span{
    display: block;
    padding: 0;
    margin: 0;
}
br{
    margin-bottom: 10px;
}
#describe p{
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 3px;
    padding-top: 10px;
}
#process h2{
    text-align: center;
    padding-top: 20px;
}
table{
    line-height: 1.5rem;
    margin: 10px;

}
.materials ul{
    margin-left: 25px;
}
.materials ul li{
    padding-left: 50px;
    list-style-position: outside;
    list-style-type: square;
    line-height: 30px;
}
tbody th:first-of-type{
    text-align: left;
    font-weight: bold;
}
.steps ol{
    margin-left: 10px;
}
.steps ol li{
    list-style-type: decimal;
    padding-left: 20px;
    margin: 20px;
    line-height: 1.5rem;
}
#sides{
    background-color: var(--ltblue);
}
#sides h2{
    text-align: center;
    padding: 15px;
}
.options img{
    position: relative;
    left: 15px;
    max-width: 75%;
    top: 15px;
}
.options{
    padding:10px;
}
.content{
    position: relative;
    top: 15px;
    flex-basis: 100%;
}
.rice, .guac, .tortilla, .salsa{
    transition: background-color .5s;
}
.rice:hover, .guac:hover, .tortilla:hover, .salsa:hover{
    background-color: var(--orange);
}
.content a{
    color:#0d0d0d;
    text-decoration: none;
}
.content a:hover{
    color: #F2F2F2;
}
.content dd{
    padding-top: 15px;
}
.content dt{
    font-size: 1.5rem;
    padding-top: 0px;
}
.content svg{
    left: -10px;
    position: relative;
    padding-top: 10px;
}
.content p{
    font-weight: bold;
    padding-top: 10px;
}
.sticky{
    position: fixed;
    top:0;
    z-index: 10;
}
#navigation{
    height: 0;
}
.guac svg, .tortilla svg, .rice svg, .salsa svg{
    fill: #EB5428;
}
.tortilla svg:last-of-type, .rice svg:last-of-type{
    fill: var(--white);
}
nav{
    z-index: 5;
    top: 0;
    max-width: 414px;
    background-color: var(--white);
    top: -2800px;
    margin: auto;
    position: absolute;
    grid-area: nav;
    min-width: 414px;
    min-height: 70px;
}
nav span{
    top: 10px;
}
nav ul li:last-of-type{
    left: 320px;
    position: absolute;
    top: -20px;
}
#logo{
    stroke: #EB5428;
    position: absolute;
    top: -20px;
    left: 115px;
}
.menuli{
    color: #EB5428;
    top: 10px;
    position: relative;
    left: -68px;
}

.signin{
    color: #0d0d0d;
}
nav ul li:last-of-type svg{
    position: relative;
    top: 15px;
    stroke: var(--orange);
}
    nav ul{
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    list-style: none;
}
nav li img{
    display:none;

}
nav ul li:first-of-type svg{
    stroke: #F2F2F2;
    background-color: #EB5428;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav li a{
    padding: 20px;
    text-decoration: none;
    color: #EB5428;
    display:block;

}
nav label{
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav label svg{
    display: block;

}
nav span{
    display: block;
    position: relative;
}
nav input{
    display: none;

}
label span:before, label span:after {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
#socials{
    margin-top: 20px;
    max-width: 414px;
    background-color: #F2F2F2;
}
.social ul{
    text-align: center;
}
.social ul li{
    display: inline-block;
}
.social .MenuItems{
    margin: 20px;
}
nav h2{
    height: 1px;
    width: 1px;
    visibility: hidden;
}
nav input:not(checked) ~ ul{
    max-height: 0px;
    transition: all 0.5s ease-in-out;
}
.copyright{
    max-width: 414px;
    margin: auto;
    width: 100%;
    background-color: white;
}
.copyright img{
    display: block;
    margin: auto;
    max-width: 50%;
    padding: 15px;
}
.copyright p{
    margin: auto;
    text-align: center;
}

/*---------Medium Query---------*/
@media screen and ( min-width: 768px){

    main{
        max-width: 768px;
    }
    section{
        max-width: 768px;
    }
    .signin{
        position: relative;
        top: 10px;
    }
    nav{
        margin: auto;
        top: -50px;
        position: relative;
        max-width: 768px;
        min-height: 200px;
        min-width: 768px;

    }
    .searchbox{
        display: block;
        z-index: 100;
        margin: auto;
        top: -3200px;
        
    }

}